/*
.my-4 {
    background-color: #5a3fa3;
}
.container {
    background-color: #5a3fa3;
}
*/

.logo-size{
    width: 150px;
    height: 100px;
}

#image-logo-header {
    width: 20%;
    padding: 10px;
    margin: 10px;
}

.logo-url {
    text-decoration: none;
}
.logo-url :hover{
    text-decoration: none;
}

.content-header {
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}