{% extends "base.html" %}

{% block title %} SpotFlame {% endblock %}

{% block content %}
<div class="container">
    {% for album in album_detail %}
    <div class="row">
        
            <div class="col-lg-5 offset-md-3 mb-4">
                <h1 class="my-4">{{ album.band }}</h1>
    
              <div class="card h-30">
                <a href="{{ album.image }}"><img class="card-img-top" src="{{ album.image }}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <p>{{ album.name }}</p>
                  </h4>
                  <p class="card-text">{{ album.length }}</p>
                </div>
              </div>
            </div>
            <ul class="list-group col-md-8 offset-md-2">
                {% for song in songs %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ song.number }} - {{ song.name }}
                        <span class="badge badge-primary badge-pill">{{ song.length }}</span>
                    </li>
                {% endfor %}
            </ul>
    </div>
    {% endfor %}
        
</div>
{% endblock %}