{% extends "base.html" %}

{% block title %} SpotFlame {% endblock %}

{% block content %}

<div class="container">

    {% for band in band_detail %}
    <div class="row">
        
        <div class="col-lg-8 offset-md-2 mb-4">
            <h1 class="my-4">{{ band.name }}</h1>

          <div class="card h-30">
            <a href="{{ band.image }}"><img class="card-img-top" src="{{ band.image }}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <p>{{ band.name }}</p>
              </h4>
              <p class="card-text">{{ band.origin }}</p>
            </div>
          </div>

          <!-- Biography field -->
          <h2 class="my-4">Biography: </h2>
          <p class="lead mb-0">{{ band.bio | linebreaksbr }}</p>

          <!-- Album field -->
          <h2 class="my-4">Albums: </h2>
          
          <div class="row">
              {% for album in albums %}
              <div class="col-md-3 col-sm-6 mb-4">
                <a href="{% url 'album-detail' album.id %}">
                  <img class="img-fluid" src="{{ album.image }}" alt="">
                  </a>
                  {{ album.name }}
              </div>
              {% endfor %}
          </div>
                  
          </div>
            
            
        
        </div>
        <!-- end row -->

    <!-- end for i in range-->
    {% endfor %}

    
</div>

{% endblock %}