{% extends "base.html" %}

{% block title %} SpotFlame {% endblock %}

{% block content %}
    <div class="container">
        <!-- Portfolio Item Row -->
        <div class="row">
    
              <div class="col-md-8">
                <img class="img-fluid" src="../../static/artist/SpotFlame.png" alt="">
              </div>
          
              <div class="col-md-4">
                <h3 class="my-3">What is SpotFlame?</h3>
                <p>Rate your favorite bands, albums and songs of your favorite artists and songs!</p>
                <h3 class="my-3">Top Songs</h3>
                <ul>
                  {% for song in songs %}  
                  <li>{{ song.name }}</li>
                  {% endfor %}
                </ul>
              </div>
          
            </div>
            <!-- /.row -->
          
            <!-- Related Projects Row -->
            <h3 class="my-4"><a href="{% url 'top-index' %}">Top Bands</a></h3>
            
            
            <div class="row">
              {% for band in bands %}
              <div class="col-md-3 col-sm-6 mb-4">
                <a class="text-decoration-none" href="{% url 'band-detail' band.id %}">
                      <img class="img-fluid" src="{{ band.image }}" alt="">
                    </a>
                    {{ band.name }}
              </div>
              {% endfor %}
            </div>
            <!-- /.row -->
          
          </div>
          <!-- /.container -->
{% endblock %}